front-end/node_modules
front-end/.next
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
venv/
*.pyc
__pycache__
.history
postgres-data
postgres-data/*
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
# lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 
.env
back-end/auth_service/logs/*
back-end/auth_service/users/migrations/
back-end/auth_service/game/migrations/
back-end/auth_service/logs/django.log
front-end/.env